{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ domain }}</title>
</head>
    <body style="margin: 0; padding: 0;background:#f4f4f4">
 <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f4f4f4" style="padding:40px 0 30px 0">
  <tr>
   <td>
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
        <tr>
            <td bgcolor="#A6A6A6" style="padding:40px 0 30px 30px">
                <h4 style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 34px;margin-bottom: 0;">Account activation link e-mail</h4>
            </td>
        </tr>
        <tr>
            
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                            <b>Hi {{ user.username }},</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0;color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                         <p>Please click on the link below to confirm your registration:</p>
                         <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
                            <br>
                            <br>
                            <br>
                            <p>Thanks,</p><br>
                            <p>The {{ domain }} Team</p>
                            <br>
                            <br>
                            <br>
                         </td>
                    </tr>
                </table>
            </td>
           
        </tr>
        <tr>
        
        
        </tr>
        <tr>
            <td bgcolor="#A6A6A6" style="padding: 30px 30px 30px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="75%" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                    &reg; {{ domain }} Team 
                    </td>
                </tr>
                </table>
            </td>
        </tr>
    </table>
   </td>
  </tr>
 </table>
</body>

</html>
{% endautoescape %}